appdirs
bluesky
bluesky-live
databroker
entrypoints
intake
h5py
jupyterlab
matplotlib
numconv
numpy
ophyd
pandas
pillow
pymongo
pyqt5>=5.9
requests
sirepo-bluesky
urllib3
opencv-python
#torch>=1.10.0+cpu
#torchaudio>=0.10.0+cpu
#torchvision>=0.11.1+cpu
torchinfo
